services:
  fastapi:
    build: .
    container_name: fastapi
    ports:
      - "9000:8080"
    restart: always


    #docker compose is used to write all commands needed to build and run a container
